*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    margin: 50px 0px;
}
.top-nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 10px;
    display: inline-block; /*hem inline hem block oldu artık widht yiyor ve boy gövde uzunluğu verebiliyoruz */
    /* inline elementler margin-top, margin-bottom almaz*/

    /*? Inline element icerik kadar yer kaplarlar. Bu sebepten dolayi margin ve padding top ve bottom degerlerini alamazlar. Bu ozelikleri kullanmak icin elementler display property si ile inline-block haline getirilebilr*/
    width: 15vh;
    
}

.top-nav a:hover{
    background-color: red;
    color: orange;
    /* opacity: 0; */
}